*{
  box-sizing: border-box;
}

body{
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 96%;
  max-width: 1000px;
}

// Set theme color
$theme-grey: #d9dadc;
$theme-green: #b1f9ac;
$border-grey: darken($color: $theme-grey, $amount: 25%);

// Components

// Header
header{
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;

  span{
    height: 0.4rem;
    width: 100%;
    background-color: $border-grey;
    border-radius: 0.2rem;
  }
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $theme-green;

  ul {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;

    li {
      font-weight: bold;

      a{
        display: block;
        width: max-content;
        margin: 0 1rem;
        border-bottom: 2px solid $theme-green;

        &:hover{
          border-bottom: 2px solid black;
        }
      }
    }
  }
}

// Footer
footer{
  background-color: $theme-grey;
  padding-top: 26px;
  padding-bottom: 14px;

  p{
    font-size: 10px;
    margin-top: 8px;
  }
}

.link-wrapper{
  display: flex;
  justify-content: center;
}

.link-item{
  margin: 0 12px;
}

// Label
.label{
  background-color: $theme-grey;
  border-left: 12px solid $theme-green;
  width: 98%;
  max-width: 1600px;
  margin: 60px auto;
  padding-top: 14px;
  padding-bottom: 14px;

  h3{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.2em;
    margin-top: auto;
    margin-bottom: auto;
  }
}

// Button
.button{
  background-color: $theme-grey;
  width: 300px;
  height: 64px;
  margin: 60px auto 80px auto;
  cursor: pointer;
  box-shadow: 8px 8px 0 0 $theme-green;
  transition: all .5s;

  &:hover{
    background-color: lighten($color: $theme-grey, $amount: 5%);
    box-shadow: none;
  }

  p{
    line-height: 64px;
  }
}

// Project Thumbnail
.project-thumbnail{
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.project-thumbnail-img{
  width: 100%;
  border: .5px solid $border-grey;

  img{
    display: block;
    width: 100%;
  }
}

.project-thumbnail-content {
  font-size: 18px;
  padding: 18px;

  h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 0;
  }

  p{
    text-align: left;
    margin-bottom: 0;
  }
}

// Project Detail
.project-detail{
  display: flex;
  width: 100%;

  .green{
    background-color: $theme-green;
  }

  .white{
    background-color: #fffffa;
  }

  .grey{
    background-color: $theme-grey;
  }
}

.project-detail-img {
  width: 50%;

  img {
    display: block;
    width: 100%;
  }
}

.project-detail-content {
  width: 50%;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;

  .title, .skills{
    text-align: center;
  }

  .title{
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: normal;
  }

  .skills{
    font-size: 14px;
  }

  .text{
    font-size: 18px;
    margin-top: 30px;
  }
}

// Pages

//Home
//Main Visual
.main-visual{
  background-color: $theme-grey;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title{
  h2{
    font-size: 36px;
  }
  h1{
    font-size: 88px;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 0.1em;
  }
}

// About Section
.home-about-item{
  display: flex;
}

.home-about-content{
  width: 60%;
  padding-left: 16px;
  padding-right: 12px;
  padding-top: 50px;
  text-align: left;

  .my-name{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .text{
    font-size: 24px;
  }

  .skills{
    font-size: 16px;
    color: darken($color: $theme-grey, $amount: 45%);
  }
}

.home-about-img{
  width: 40%;
  padding: 18px;

  img{
    width: 100%;
    border-radius: 50%;
  }
}

// Work Section
.project-thumbnail-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

// About Page
.profile{
  display: flex;
  justify-content: center;
}

.about-text {
  width: 60%;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  display: flex;
  align-items: center;

  p{
    margin: 0;
  }
}

.about-img {
  width: 40%;

  img {
    width: 100%;
    border-radius: 2%;
  }
}

.history-content{
  padding: 5px;
  margin-bottom: 22px;
}

.history-header{
  display: flex;
  justify-content: start;

  svg{
    width: 60px;
  }
}

.history{
  margin-top: 24px;
  margin-bottom: 30px;
}

.history-title{
  font-size: 24px;
  padding: 16px;
}

.history-text{
  text-align: left;
  padding-left: 50px;
  padding-top: 8px;
}

.skill-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-bottom: 36px;
}

.skill-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.skill-item{
  display: flex;
  margin-right: 16px;
}

.skill-name{
  padding-top: 3px;
  padding-left: 4px;
}

// Work Page
.project-detail-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: .5px solid $border-grey;
}

// Blog Page
.my-blog{
  font-weight: bold;
  font-size: 32px;
}

.blog-text{

  span{
    font-weight: bold;
  }
}
// Contact Page
.contact-me {
  font-weight: bold;
  font-size: 32px;
}

.contact-text {
  margin-bottom: 0;
}

// media query
@media screen and (max-width: 1023px) {
  // About Page
  .skill-item {
    margin-right: 6px;
  }

  .skill-name {
    padding-left: 1px;
  }
}

@media screen and (max-width: 767px) {
  body{
    font-size: 18px;
  }

  // Components

  // Header
  .menu {
    display: flex;
  }

  .menu.open {
    span{
      position: absolute;
    }

    span:nth-of-type(1) {
      top: 0.75rem;
      transform: rotate(45deg);
    }

      span:nth-of-type(2) {
        display: none;
        transform: rotate(45deg);
      }

    span:nth-of-type(3) {
      top: 0.75rem;
      transform: rotate(-45deg);
    }
  }

  nav{
    flex-direction: column;
    align-items: start;

    ul{
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;

      li{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;

        a{
          margin: 0.5rem 0.5rem;
        }
      }
    }

    ul.open{
      display: flex;
      padding-left: 0;
    }
  }

  // Label
  .label{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  // Project Thumbnail
  .project-thumbnail{
    flex-direction: column;
  }

  .project-thumbnail-content{
    h4{
      margin-top: 0;
    }
  }

  // Project Detail
  .project-detail{
    flex-direction: column;
    border: .5px solid $border-grey;
  }

  .project-detail-img{
    width: 100%;
  }

  .project-detail-content{
    width: 100%;

    .title{
      font-size: 22px;
      margin-top: 12px;
      margin-bottom: 0;
    }

    .skills{
      margin-top: 8px;
    }

    .text{
      margin-top: 0;
      margin-bottom: 24px;
    }
  }

  // Pages

  // Home Page
  .main-visual{
    height: 640px;
  }

  .title {
    h2 {
      font-size: 24px;
      font-weight: normal;
    }

    h1 {
      font-size: 44px;
    }
  }

  .home-about-item{
    flex-direction: column-reverse;
    align-items: center;
  }

  .home-about-img{
    width: 300px;
  }

  .home-about-content {
    width: 100%;
    padding-top: 20px;

    .my-name {
      font-size: 38px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .text {
      margin-top: 18px;
      margin-bottom: 18px;
    }

    .skills {
      font-size: 16px;
      color: darken($color: $theme-grey, $amount: 45%);
    }
  }

  // About Page
  .profile{
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    max-width: 360px;
    margin: 0 auto 24px auto;
  }

  .about-img{
    width: 100%;
    max-width: 360px;
  }

  .about-text{
    width: 100%;
    padding: 10px 0;
  }

  .history{
    margin-top: 8px;
  }

  .history-text{
    padding-left: 6px;
  }

  .skill-wrapper{
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .skill-row{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .skill-item{
    margin-bottom: 10px;
  }

  // Work Page
  .project-detail-wrapper{
    width: 80%;
    margin: 0 auto 50px;
    border: none;
    gap: 12px;
  }
}
